body {
    background-color: #0A2647;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Karla', sans-serif;
    color: white;
    margin-top: 30px;
    
}

#textConnectToLights {
    font-size: 30px;
    width: 100%;
}

#textGoBack {
    
    display: block;
    font-size: 15px;
}

#arrow-left {
    height: 20px;
    width: auto;
    margin-left: -5px;
}

#flex {
    align-items: flex-start;
    margin-top: 10px;
    display: flex;
}

#textUseThisIP {
    background-color: #2C74B3;
    padding: 10px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#ipInput {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border: none;
}

#ipInputSection {
    margin-top: 50px;
    display: flex;
    
}